.login-dialog{
	.social-link{
		img {
			height: 34px;
		}
	}
}

.search-board{
	li {
	  list-style: none;
	  padding: 5px;
	  margin-bottom: 2px;
	  color: gray;
	  cursor: pointer;
	}
	li:hover{
	  color: black;
	}
	li:active{
	  color: red;
	}
}

.default-box {
	border: 1px solid rgba(0, 0, 0, 0.075);
	border-radius: 4px;
}

.search-by-keyword{
	.suggest-box{
		padding: 5px;
		display: flex;
		-webkit-flex-flow: row wrap;
		.query-string{
			padding: 5px;
			margin: 5px;
			cursor: pointer;
			background-color: #ddd;
			border-radius: 4px;
			margin-bottom: 5px;
			color: #3357ea;
		}
		.query-string:hover{
			color: #6681f1;
			background-color: black;
		}
		.query-string:active{
			color: #6681f1;
			background-color: #6b6b6b;
		}
	}

	.search-box {
		// height: 250px;
		.cus-search-header{
			margin-bottom: 5px;
			padding: 10px;
			border-bottom: 1px solid #e5e5e5;
		}
		.cus-search-box{
			padding: 10px;
			.form-group{
				margin-bottom: 10px;
			}
		}
		.action-active {
			cursor: pointer;
			pointer-events: auto;
		}
		.action-active:hover {
			color: red;
		}
		.action-active:active{
			color: #ff7a00;
		}
	}
	
}