.utility-bar-container{
	height: 100%;
	width: 200px;
	background-color: $utility-bg;
	border-right: 2px solid #4C3C1B;
	position: fixed;
    z-index: 1;
    .fold-bar {
        position: fixed;
        width: 44px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        border-radius: 50%;
        top: 13%;
        left: 175px;
        cursor: pointer;
        background-color: #000000;
        &:hover {
            background-color: #616161;
        }
        &:active {
            background-color: #000000;
            i {
                color: #4ee8ea;
            }
        }
        i {
            &::after{
                content: "keyboard_arrow_left";    
            }
            color: white;
            line-height: 44px;
            text-align: center;
        }
    }
    .user-info-box{
    	height: 230px;
    	padding: 15px;
    	text-align: center;
    	.header{
    		font-size: 21px;
    		font-weight: 700;
    		margin-bottom: 15px;
    	}
    	.user-profile-img{
            border-radius: 50%;
    		max-height: 80px;
    		height: auto;
    		margin-bottom: 15px;
    	}
    }

    .utility-menu{
    	.utility-menu-option{
    		width: 100%;
    		padding: 10px;
    		padding-left: 15px;
    		position: relative;
    		transition: color .5s ease;
    		color: #626365;
    		cursor: pointer;
    		i {
    			margin-right: 15px;
    			vertical-align: middle;
    		}
    		img {
    			margin-right: 15px;
    			vertical-align: middle;	
    		}
    	}
    	.utility-menu-option:hover{
    		background-color: #fd9b51;
    	}
    	.utility-menu-option:active{
    		background-color: #e8863c;
    	}
    }
}

.utility-bar-container-shrink{
    top: 25%;
    height: auto;
    width: 55px;
    border-top: 2px solid #4C3C1B;
    border-bottom: 2px solid #4C3C1B;
    border-right: 2px solid #4C3C1B;
    
    .fold-bar {
        top: 16%;
        left: 6px;
        i {
            &::after{
                content: "keyboard_arrow_right";    
            }
        }
    }
    .user-info-box{
        display: none;
    }
    .utility-menu{
        .utility-menu-option{
            span {
                display: none;
            }
        }
    }
}