.utility-bar-container{
	height: 100%;
	width: 200px;
	background-color: $utility-bg;
	border-right: 4px solid #4C3C1B;
	// display: inline-block;
	position: fixed;
    z-index: 1;
    .user-info-box{
    	height: 230px;
    	padding: 15px;
    	text-align: center;
    	.header{
    		font-size: 21px;
    		font-weight: 700;
    		margin-bottom: 15px;
    	}
    	.user-profile-img{
    		max-height: 80px;
    		height: auto;
    		margin-bottom: 15px;
    	}
    }

    .utility-menu{
    	.utility-menu-option{
    		width: 100%;
    		padding: 10px;
    		padding-left: 15px;
    		position: relative;
    		transition: color .5s ease;
    		color: #626365;
    		cursor: pointer;
    		i {
    			margin-right: 15px;
    			vertical-align: middle;
    		}
    		img {
    			margin-right: 15px;
    			vertical-align: middle;	
    		}
    	}
    	.utility-menu-option:hover{
    		background-color: #fd9b51;
    	}
    	.utility-menu-option:active{
    		background-color: #e8863c;
    	}
    }
}